footer {
  font-size: 36px;
  height: 60px;

  &__btn {
    max-width: 238px;
    margin: 0 0 29px 30px;
    padding: 15px 55px;
    border: none;
    border-radius: 24px;
    color: #f6f6f6;
  }

  .right {
    align-self: start;
    border: none;
    background-color: #259cbf;
    color: #f6f6f6;
    margin-left: 54px;
    cursor: pointer;
  }
}
