.dialog {
  text-align: center;

  &__img {
    text-align: center;
  }

  &__text {
    font-size: 36px;
    line-height: 43.57px;
    color: #232323;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;

  &__btn {
    font-size: 24px;
    width: 238px;
    height: 56px;
  }
}
