<nav class="navigation">
  <div class="navigation__wrapper">
    <div class="navigation__wrapper-icon"></div>
    <a
      [routerLink]="'/administration/users'"
      [routerLinkActive]="'active'"
      class="navigation__wrapper-item"
      >Users</a
    >
    <a
      [routerLink]="'/administration/products'"
      [routerLinkActive]="'active'"
      class="navigation__wrapper-item"
      >Products</a
    >
    <a [routerLinkActive]="'active'" class="navigation__wrapper-item"
      >Log out</a
    >
  </div>
  <a [routerLink]="'/products'" class="navigation__btn">Landing -></a>
</nav>
