@use "../../shared/variables.scss";

.products__wrapper-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 270px;
  margin: 0 39px 48px 0;
  border-radius: 20px;
  background-color: variables.$mainWhite;
  color: variables.$mainRed;

  &-title {
    margin: 37px 34px 0 34px;
    color: variables.$mainBlack;
    text-decoration: none;
  }

  &-price {
    margin-left: 34px;
  }
}

@media screen and (max-width: 580px) {
  .products {
    &__wrapper {
      &-item {
        width: 302px;
        height: 221px;

        &-price {
          margin-bottom: 14px;
        }
      }
    }
  }
}
