@use "../../shared/variables.scss";

.cart {
  font-size: 48px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  color: variables.$mainWhite;
  overflow-y: hidden;

  &__title {
    height: 48px;
    margin: 128px 0 0 90px;
  }

  &__total {
    align-self: flex-end;
    margin: 0 90px 48px 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 59px 57px 97px;

    &-item {
      font-size: 36px;
      line-height: 43.57px;
      width: 400px;
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 39px 48px 0;
      border-radius: 20px;
      box-shadow: 0 0 80px -10px variables.$mainBlack;
      background-color: variables.$mainWhite;
      color: variables.$mainBlack;

      &-name {
        margin: 37px 34px 0 34px;
      }

      &-price {
        margin-left: 34px;
      }

      &-button {
        font-size: 24px;
        height: 60px;
        width: 76%;
        align-self: center;
        margin: 0 0 30px 0;
        padding: 15px 55px;
        border: none;
        border-radius: 24px;
        color: variables.$mainWhite;
        background-color: variables.$backgroundGrey;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &-button:hover {
        background-color: variables.$btnHover;
      }
      &-button:active {
        background-color: variables.$btnActive;
        color: variables.$mainBlack;
      }
    }
  }

  .empty-cart {
    width: 400px;
    height: 400px;
    align-self: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 610px) {
  .cart {
    font-size: 36px;

    &__title {
      margin: 128px 0 0 60px;
    }

    &__total {
      margin: 0 60px 48px 0;
    }

    &__wrapper {
      margin: 0;

      &-item {
        font-size: 28px;
        width: 302px;
        height: 221px;
        margin: 0 0 48px 0;

        &-button {
          font-size: 20px;
          width: 90%;
        }
      }
    }

    .empty-cart {
      width: 200px;
      height: 200px;
    }
  }
}
