//general colors
$backgroundBlue: #259cbf;
$mainBlack: #232323;
$mainWhite: #f6f6f6;
//buttons background
$backgroundGrey: #2c3e50;
//header
$headerBlack: #1e272e;
//products page
$mainRed: #fe5f1e;
//login
$hoverGrey: #eed8d8;
$activeGrey: #c4a9a9;
