<body>
  <header class="header">
    <div class="header__wrapper">
      <div class="header__wrapper-logo"></div>
      <ul class="header__wrapper-list">
        <li class="header__wrapper-list-item">Products</li>
        <li class="header__wrapper-list-item">Cart</li>
      </ul>
    </div>
  </header>

  <main class="products">
    <div class="products__title">Products</div>
    <div class="products__wrapper">
      <div *ngFor="let item of data" class="products__wrapper-item">
        <p item-name class="products__wrapper-item-title">{{ item.name }}</p>
        <p class="products__wrapper-item-price">{{ item.price }}$</p>
        <button class="products__btn">Add to cart</button>
      </div>
    </div>
    <button class="products__btn center">Load more</button>
    <button class="products__btn right-arrow">Admin -></button>
  </main>
</body>
