<div class="products__box-row">
  <input
    class="products__box-row-input"
    type="text"
    placeholder="Search.."
    (input)="search($event)"
  />
  <select
    (change)="priceType($event)"
    class="products__box-row-select"
    name="select"
  >
    <option value="{{ priceMore }}">{{ priceMore }}</option>
    <option value="{{ priceLess }}">{{ priceLess }}</option>
  </select>

  <input
    value="0"
    type="number"
    (input)="price($event)"
    class="products__box-row-count"
  />
</div>
