@use "../shared/variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.products {
  font-size: 36px;
  font-weight: 400px;
  line-height: 1;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: variables.$backgroundBlue;
  color: variables.$mainWhite;

  &__title {
    font-size: 48px;
    display: flex;
    margin: 128px 0 57px 93px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 59px 57px 97px;
  }

  &__btn {
    font-size: 24px;
    max-width: 238px;
    height: 60px;
    align-self: center;
    margin: 0 0 30px 0;
    padding: 15px 55px;
    border: none;
    border-radius: 24px;
    color: variables.$mainWhite;
    background-color: variables.$backgroundGrey;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__btn:hover {
    background-color: variables.$btnHover;
  }
  &__btn:active {
    background-color: variables.$btnActive;
    color: variables.$mainBlack;
  }

  .center {
    align-self: center;
  }
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #f6f6f6;
}

@media screen and (max-width: 610px) {
  .products {
    font-size: 28px;

    .center {
      margin: 0 0 15px 0;
    }

    .right-arrow {
      margin-left: 24px;
    }
  }
}
