<app-header [ngClass]="{ transparent: isTransparent }"></app-header>
<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<div class="products">
  <div class="products__title">Products</div>
  <div class="products__wrapper">
    <app-product
      *ngFor="let item of displayedProducts"
      [product]="item"
    ></app-product>
  </div>
  <button
    class="products__btn center"
    *ngIf="displayedProducts"
    (click)="showMore()"
  >
    Load more
  </button>
</div>
<app-footer></app-footer>
