@use "app/shared/variables.scss";
@import url("app/normalize.css");

body {
  background-color: variables.$backgroundBlue;
  color: variables.$mainBlack;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
