@use "../../shared/variables.scss";

.product {
  font-size: 42px;
  line-height: 58.09px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$backgroundBlue;
  z-index: 1;

  &__title {
    font-size: 48px;
    align-self: start;
    margin: 130px 0 50px 54px;
    color: variables.$mainWhite;
  }

  &__wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 24px;
    background-color: variables.$mainWhite;
    box-shadow: 0 0 80px -10px variables.$mainBlack;
    opacity: 1;

    &-name {
      align-self: center;
      margin-bottom: 37px;
    }

    &-description {
      margin-bottom: 36px;
    }

    &-price {
      margin-bottom: 36px;
    }

    &-button {
      font-size: 24px;
      padding: 15px 55px;
      align-self: center;
      border: none;
      border-radius: 24px;
      color: variables.$mainWhite;
      background-color: variables.$backgroundGrey;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &-button:hover {
      background-color: variables.$btnHover;
    }

    &-button:active {
      background-color: variables.$btnActive;
      color: variables.$mainBlack;
    }
  }

  .back-btn {
    font-size: 30px;
    padding: 15px 50px;
    text-decoration: none;
  }
}

@media screen and (max-width: 870px) {
  .product {
    font-size: 28px;
    // height: calc(100vh - 60px);

    &__title {
      font-size: 36px;
      line-height: 1.1;
    }

    &__wrapper {
      width: 80%;
      line-height: 1.1;
    }

    .back-btn {
      padding: 0 34px;
    }
  }
}
