.product {
  font-size: 48px;
  line-height: 58.09px;
  height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 93px;
  background-color: #259cbf;

  &__title {
    align-self: start;
    margin: 28px 0 95px 0;
  }

  &__wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;

    background-color: #f6f6f6;

    &-name {
      align-self: center;
      margin-bottom: 37px;
    }

    &-description {
      margin-bottom: 36px;
    }

    &-price {
      margin-bottom: 36px;
    }

    &-button {
      font-size: 24px;
      max-width: 238px;
      height: 60px;
      margin: 0 0 29px 30px;
      padding: 15px 55px;
      align-self: center;
      border: none;
      border-radius: 24px;
      color: #f6f6f6;
      background-color: #2c3e50;
      cursor: pointer;
    }
  }
}
