.title {
  font-size: 44px;
  text-align: center;
  margin-top: 18px;
}

.dialog {
  &__field {
    width: 510px;
    height: 120px;
    font-size: 36px;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;

  &__btn {
    font-size: 24px;
    width: 238px;
    height: 56px;
  }
}
